.carousel-caption h2 {
    font-weight: 600;
    color: rgba(248, 106, 4, 0.859);
  }
  
  .carousel-caption p {
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: large;
  }
.card1{
  float: left;
}
.card2{
  float: inline-end;
}
h6{
  font-weight: 600;
  text-decoration: underline;
}
.text-start{
  margin-top: -8px;
}
#bkgf {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.card3{
  float: right;
}
.card4{
  float: inline-start;
}
a{
  text-align: center;
  margin: 0 auto;
}
h1{
  text-align: center;
  text-decoration:underline;
}
@media (max-width: 767px) {
  .navbar-brand {
    float: left;
  }

  .logo-container{
    float: left;
    text-align: left;
  }

  .navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .navbar-nav .nav-link {
    margin-left: 10px;
  }
}


  
  
